 /* CSS for my personal webpage  */

 body {
     font-family: 'Abel', sans-serif;
 }

 p {
     font-size: 1.2em;
 }

 #main {
     height: 100vh;
     background-repeat: no-repeat;
     background-image: url("/assets/img/lamp_background.jpg");
     background-position: center;
     background-size: cover;
     width: 100%;
 }

 /* CSS for personal image  / text */

 #main-logo {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
     color: white;
 }

 #main-logo h1 {
     font-size: 3em;
     font-weight: 500;
     margin: 0;
 }

 #main-logo img {
     height: 200px;
     border-radius: 60%;
 }

 .skill {
     text-align: center;
     margin-top: 3em;
 }

 .skill img {
     max-height: 100px;
     text-align: center;
     filter: grayscale(100%);
 }

 .space-top {
     margin-top: 4em;
 }

 #scroll-top {
     font-size: 1em;
 }

 /* CSS for top nav bar  */

 #top-nav {
     position: fixed;
     width: 100%;
     z-index: 10;
     font-size: 1.2em;
     background-color: #000000;
 }

 #top-nav .navbar-nav {
     float: left;
     padding: 0.4em 2em 0.4em 0;
 }

 #top-nav li a {
     border: 1px solid transparent;
     margin: 0 0.5em;
     padding: 0.5em;
 }

 #top-nav li a:focus {
     border: 1px solid black;
     border-radius: 90px;
     color: #144C50;
 }

 #top-nav li a:hover {
     border: 0.5px solid #144C50;
     border-radius: 90px;
     box-shadow: 0 0 20px #144C50;
     background-color: #144C50;
     color: black;
 }

 a:link,
 a:visited {
     color: #333;
     text-decoration: none;
 }

 /* CSS for contact container / rows */

 #contact i:hover {
     color: #144C50;
 }

 #contact {
     padding: 1em 0;
     text-align: center;
 }

 .contact i {
     font-size: 2em;
     align-self: center;
     margin-top: 1em;
 }

 .text-center {
     font-size: 1.5em;
 }

 /* CSS for footers */

 #footer {
     padding: 1em;
     z-index: 15%;
     background-color: black;
     text-align: center;
 }

 #footer p {
     color: white;
 }

 #footer a {
     color: white;
     font-size: 0.7em;
 }

 /* CSS for work experience */

 #work p {
     line-height: 40px;
 }

 .work1 {
     text-align: center
 }

 .work2 {
     text-align: center
 }


 /* CSS for skill bars */

 * {
     box-sizing: border-box
 }

 /* size type for skill bar */

 /* Container for skill bars */

 .container {
     width: 100%;
     /* Full width */
     background-color: #ddd;
     /* Grey background */
 }

 .skills {
     text-align: right;
     /* Right-align text */
     padding-right: 20px;
     /* padding */
     line-height: 30px;
     /* line height for each skill bar */
     color: white;
     /* White text color */
 }

 .html {
     width: 90%;
     background-color: #4CAF50;
 }

 /* Green */

 .css {
     width: 80%;
     background-color: #2196F3;
 }

 /* Blue */

 .js {
     width: 65%;
     background-color: #f44336;
 }

 /* Red */

 .python {
     width: 70%;
     background-color: #144C50;
 }

 /* Dark Green */

 .others {
     width: 40%;
     background-color: #000000;
 }

 /* Black */

 /* End of CSS */